$black: #000;
$dark-gray: #181818;

$cover: #242424;

$white: #fff;
$light-gray: #E8E8E8;

$yellow: #f0d750;
$cian: #a0d7e6;
$sand: #ded8a4;
$green: #605c3c;
$purple: #403c60;
$maroon: #601030;

$red-alert: #ba2020b2;
$green-alert: #20ba20b2;

// section.about{
//     background: $cian;
// }
// section.where{
//     background: $sand;
// }
// section.wines{
//     background: $maroon;
// }
// section.images{
//     background: $green;
// }
// section.others{
//     background: $purple;
// }