.contact{
    .contact-form{
        width: 60%;
        label, input, textarea{
            display: block;
            border: 0;
        }
        input, textarea{
            width: 100%;;
            margin-bottom: 2em;
            padding: 1em;
        }
        label{
            margin-bottom: 1em;
        }
        input[type="submit"]{
            background: $black;
            color: $white;
            text-transform: uppercase;
        }
        textarea{
            min-height: 150px;
        }
    }
}

@media (max-width: 767px){
    .contact{
        .contact-form{
            width: 80%;
        }
    }
}

@media (max-width: 575px){
    .contact{
        .contact-form{
            width: 90%;
        }
    }
}