@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,500,700|Playfair+Display:400,400i,700,700i&display=swap');

*{
    font-family: 'Gothic A1', sans-serif;
    font-size: .8em;
    letter-spacing: .04em;
}

h1,h2,h3,h4,h5,h6,
label, span, p, li, a,
input{
    color: $dark-gray;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    color: $white;
    margin-bottom: .4em;
}
h1,h2{
    font-weight: 700;
}
p.description,
p.paragraph{
    color: $white;
    font-size: 1.6em;
    line-height: 1.4em;
    display: inline-block;
}
p.description{
    padding: 2rem;
}

.info-ul{
    .info-li{
        font-size: 1.2em;
    }
}

input[type="button"],
input[type="submit"]{
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: .12em;
}

section.old{
    .legal{
        .legal-label{
            font-size: 0.8em;
        }
    }
}

// min-width
@media (min-width: 0){
    h1{font-size: 2.4em;}
    h2{font-size: 2em;}
    h3{font-size: 1.6em;}
    h4{font-size: 1.6em;}
    h5{font-size: 1.2em;}
    h6{font-size: .92em;}
    h1,h2,h3,h4,h5,h6{
        margin-bottom: .2em;
    }
    p.description,
    p.paragraph{
        font-size: 1.12em;
        font-weight: 300;
    }
    p.description{
        width: 100%;
        padding: .8rem;
    }
    .info-ul{
        .info-li{
            font-size: 1em;
        }
    }
    .footer{
        p.bye,
        p.byebye{
            font-size: 1.2em;
            line-height: 1.4em;
        }
    }
}

@media (min-width: 400px){
    h1{font-size: 4em;}
    h2{font-size: 3.2em;}
    h3{font-size: 2.4em;}
    h4{font-size: 2em;}
    h5{font-size: 1.6em;}
    h6{font-size: 1em;}
    p.description{
        width: 92%;
    }
    section.old{
        .legal{
            .legal-label{
                font-size: .88em;
            }
        }
    }
}
@media (min-width: 480px){
    p.description{
        padding: 1.2rem .8rem 1.6rem;
    }
}
@media (min-width: 576px){
    h1{font-size: 5.6em;}
    h2{font-size: 4em;}
    h3{font-size: 3.2em;}
    h4{font-size: 2.4em;}
    h5{font-size: 1.2em;}
    h6{font-size: 1em;}
    h1,h2,h3,h4,h5,h6{
        margin-bottom: .4rem;
    }
    p.description,
    p.paragraph{
        font-size: 1.24em;
    }
    .footer p.bye,
    .info-ul{
        .info-li{
            font-size: 1.12em;
        }
    }
}
@media (min-width: 768px){
    h1{font-size: 7.2em;}
    h2{font-size: 6em;}
    h3{font-size: 4em;}
    h4{font-size: 2.4em;}
    h5{font-size: 2em;}
    h6{font-size: 1.8em;}
    .footer{
        p.bye,
        p.byebye{
            font-size: 1.24em;
        }
    }
}
@media (min-width: 992px){
    h1{font-size: 8.8em;}
    h2{font-size: 7.2em;}
    h3{font-size: 4.4em;}
    h4{font-size: 2.8em;}
    h5{font-size: 2.4em;}
    h6{font-size: 2em;}
}
@media (min-width: 1200px){
    h1{font-size: 9.2em;}
    h2{font-size: 8.4em;}
    h3{font-size: 4.8em;}
    h4{font-size: 4.4em;}
    h5{font-size: 3.6em;}
    h6{font-size: 2.8em;}
}

//min-height
@media (min-height: 660px){
    section.section{
        p.description,
        p.paragraph{
            font-size: 108%;
        }
        .info-ul{
            .info-li{
                font-size: 108%;
            }
        }
    }
}