.footer{
    background: $dark-gray;
    padding: 2rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    background-blend-mode: soft-light;
    >div{
        display: block;
        position: relative;
        top: 6rem;
    }
    h5{
        color: $yellow;
    }
    p.bye, p.byebye{
        color: $white;
        width: 100%;
        margin: 2rem auto;
    }
    .footer-rrss{
        .foo-rs{
            display: inline-block;
            padding: .8rem;
            a{
                text-decoration: none;
                padding: .8rem;
                i.fab,
                i.fas{
                    font-size: 2em;
                    filter: invert(100%);
                }
            }
            span{
                color: $white;
                display: inline-block;
                position: relative;
                bottom: .2rem;
            }
        }
    }
}

@media (max-width: 767px){
    .footer{
        h5{
            font-size: 1.6em;
        }
        >div{
            top: 4rem;
        }
    }
}

@media (max-width: 575px){
    .footer{
        p.bye, p.byebye{
            font-size: 1.2em;
        }
        .footer-rrss{
            .foo-rs{
                width: 100%;
                a{
                    i.fab,
                    i.fas{
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}
@media (max-width: 399px){
    .footer{
        >div{
            top: 0;
        }
    }
}