body{
    max-width: 1560px;
    margin: 0 auto;
    // https://www.cssmatic.com/
    background: rgb(96,16,48);
    background: rgb(96,16,48);
    background: -moz-linear-gradient(90deg, rgba(96,16,48,1) 0%, rgba(85,18,45,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(96,16,48,1) 0%, rgba(85,18,45,1) 100%);
    background: linear-gradient(90deg, rgba(96,16,48,1) 0%, rgba(85,18,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#601030",endColorstr="#55122d",GradientType=1);
    // end https://www.cssmatic.com/
    .cursor{
        width: 20px;
        height: 20px;
        border: 2px solid $white;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        transition-timing-function: ease-out;
        animation: cursorAnim .6s infinite alternate;
        pointer-events: none;
    }
    .cursor::after{
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        border: 6px solid $light-gray;
        border-radius: 50%;
        opacity: .2;
        top: -7px;
        left: -7px;
        animation: cursorAnim2 .6s infinite alternate;
    }
    @keyframes cursorAnim {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(.8);
        }
    }
    @keyframes cursorAnim2 {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(.6);
        }
    }
}
input{
    border: 0;
    border-radius: 0;
}
.fp-controlArrow.fp-prev{
    left: 1rem;
    border-width: .88rem .88rem .88rem 0;
    border-color: transparent $yellow transparent transparent;
}
.fp-controlArrow.fp-next{
    right: 1rem;
    border-width: .88rem 0 .88rem .88rem;
    border-color: transparent transparent transparent $yellow;
}
// section.about,
// section.images{
//     .fp-controlArrow.fp-prev{
//         border-color: transparent $maroon transparent transparent;
//     }
//     .fp-controlArrow.fp-next{
//         border-color: transparent transparent transparent $maroon;
//     }
// }

@media (max-width: 399px){
    .fp-controlArrow.fp-prev{
        left: .88rem;
    }
    .fp-controlArrow.fp-next{
        right: .88rem;
    }
}