.language{
    position: fixed;
    top: 0;
    right: 0;
    .lan{
        background: $dark-gray;
        display: inline-block;
        .change-lan{
            padding: 1.2rem 1rem;
            color: $light-gray;
            display: block;
            font-size: .8em;
            text-align: center;
            font-family: 'Overpass', sans-serif;
            &:hover{
                cursor: pointer;
                font-weight: 700;
            }
        }
        i.fab,
        i.fas{
            padding: .8rem;
            display: block;
            text-align: center;
            filter: invert(100%);
        }
    }
}

@media (max-width: 575px){
    .language{
        .lan{
            a{
                label{
                    padding: .4rem;
                }
                i.fab,
                i.fas{
                    padding: .6rem;
                }
            }
        }
    }
}