nav#fp-nav.nav-menu-position{
    top: 30rem;
    right: 2.5rem;
    ul.menu{
        li{
            margin: .5rem 0 1rem 0;
            a{
                &.active{
                    span{
                        background: $cian;
                    }
                }
                span{
                    background: $white;
                }
            }
        }
    }
}
// Max Width
@media (max-width: 399px){
    nav#fp-nav.nav-menu-position{
        top: 28rem;
    }
}
@media (max-width: 575px){
    nav#fp-nav.nav-menu-position{
        right: .5rem;
    }
}

// Min Height
@media (min-height: 720px){
    nav#fp-nav.nav-menu-position{
        top: 32rem;
    }
}
@media (min-height: 800px){
    nav#fp-nav.nav-menu-position{
        top: 36rem;
    }
}