.warning-message {
    background: $dark-gray;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    .logo{
        width: 112px;
        margin: 0 auto .8rem;
        display: block;
    }
    .paragraph{
        width: 100%;
        color: $white;
        text-align: center;
        font-family: 'Gothic A1', sans-serif;
        font-size: 1.16em;
    }
}

// @media screen and (max-width:767px){}
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape){
    main{
        display: none;
    }
    .warning-message{
        display: block;
    }
}