.rrss{
    position: fixed;
    bottom: 0;
    left: 0;
    .rs{
        background: $dark-gray;
        display: inline-block;
        padding: .4rem;
        a, span{
            display: inline;
        }
        a{
            text-decoration: none;
            i.fab,
            i.fas{
                padding: .6rem;
                filter: invert(100%);
            }
        }
        span{
            color: $white;
            font-size: .8rem;
            font-family: 'Gothic A1', sans-serif;
        }
    }
}
@media (max-width: 575px){
    .rrss{
        .rs{
            a{
                i.fab,
                i.fas{
                    padding: .4rem;
                }
            }
        }
    }
}