.top-0{top: 0;}
.right-0{right: 0;}
.bottom-0{bottom: 0;}
.left-0{left: 0;}

.en{
    display: none !important;
}

.disp-block{
    display: block !important;
}
.disp-in-block{
    display: inline-block !important;
}
.disp-none{
    display: none !important;
}

.opacity0{
    opacity: 0 !important;
}
.opacity1{
    opacity: 1 !important;
}