section.section{
    padding: 2.8rem 3.2rem;
    .fp-tableCell{
        vertical-align: top;
        display: block;
    }
}

.fp-section.fp-table,
.fp-slide.fp-table{
    display: block;
}

section.old{
    background: $cover;
    padding: 4rem 6.8rem;
    .logo-container{
        .logo{
            width: 150px;
            position: relative;
            left: calc(50% - 88px);
        }
    }
    .old-title,
    .old-subtitle,
    input,
    label,
    label a{
        color: $white;
    }
    .old-title,
    .old-subtitle{
        text-align: center;
        line-height: 1.2em;
    }
    .old-subtitle{
        font-size: 2em;
    }
    input{
        padding: 1em;
    }
    .input-yes,
    .input-no,
    .legal{
        width: 48%;
        margin-top: 1.2rem;
        margin-right: 4%;
        padding: .6em;
        border: .12em solid $white;
        text-align: center;
        float: left;
        .legal-check,
        .legal-label{
            position: relative;
        }
        .legal-check{
            top: .12em;
        }
        .legal-label{
            top: .24em;
            a{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .input-no{
        margin-right: 0;
    }
    .input-submit{
        width: 48%;
        padding-top: 1.2rem;
        overflow: hidden;
        float: right;
        .submit{
            width: 100%;
            background: $maroon;
            color: $white;
        }
    }
    .confirm-age-yes,
    .confirm-age-no{
        color: $white;
        width: 100%;
        padding: .5rem;
        margin-top: 1.2rem;
        font-size: .92em;
        text-align: center;
        border-radius: .4rem;
        line-height: 1.2em;
        float: left;
        transition: opacity .2s ease-in-out;
    }
    .confirm-age-yes{
        background: $green-alert;
    }
    .confirm-age-no{
        background: $red-alert;
    }
}

section.wines,
section.images,
section.others{
    background-position-x: left !important;
}

section.old,
section.about,
section.where,
section.wines,
section.images,
section.others{
    background-repeat: no-repeat;
    background-size: cover;
    .wine-title,
    .other-title{
        color: $white;
        box-shadow: inset 0 -20px 0 0 $dark-gray;
    }
    .where-title,
    .images-title{
        color: $dark-gray;
        box-shadow: inset 0 -20px 0 0 $white;
    }
    .slide{
        & > div{
            vertical-align: top;
        }

        // Slide - Where and Wine.
        .slide-where,
        .slide-wine{
            padding: 0 2rem;
            margin: 1em 0;
            overflow: hidden;
        }

        // Slide - Wine and Other.
        .slide-wine,
        .slide-image{
            .paragraph,
            .wine-subtitle,
            .other-subtitle{
                color: $white;
                margin-bottom: 1.6rem;
            }
        }

        // Slide - Where and Images.
        .slide-where,
        .slide-image{
            .paragraph,
            .img-container{
                margin-bottom: 1em;
            }
            .paragraph{
                width: 60%;
            }
        }

        // Slide - Where.
        .slide-where{
            .where-title{
                margin-bottom: .6rem;
            }
            .where-title,
            .where-subtitle{
                width: 60%;
                display: inline-block;
                padding-right: 2rem;
            }
            h3.where-subtitle{
                font-size: 2.4em;
                margin-bottom: .6rem;
            }
            h4.where-subtitle{
                margin: .2em 0 1.6em 0;
                font-size: 1.2em;
                label{
                    color: $white;
                    padding: .2rem 0;
                }
            }
            .paragraph{
                padding-right: 2em;
            }
            .map{
                height: 50vh;
                width: 40%;
                float: right;
                overflow: hidden;
                position: relative;
                bottom: 10vh;
                .display-googlemap{
                    height: 100%;
                    iframe{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        // Slide - Wine.
        .slide-wine{
            .wine-subtitle{
                margin-bottom: 0;
                span{
                    color: $white;
                    position: relative;
                    bottom: .1em;
                }
            }
            .img-container{
                width: 20%;
                height: auto;
                max-width: 150px;
                margin: 2rem 2rem 2rem 0;
                box-shadow: .4rem .4rem .8rem 0 $dark-gray;
                img{
                    width: 100%;
                    float: left;
                }
            }
            .info-ul,
            .paragraph{
                width: calc(80% - 2rem);
            }
            .info-ul{
                display: inline-block;
                margin: 2rem 0;
                .info-li{
                    color: $white;
                    margin-bottom: 2em;
                    line-height: 1.2em;
                    &:nth-last-child(-n+2){
                        margin-bottom: 0;
                    }
                }
            }
            .paragraph.garnacha,
            .paragraph.big,
            .paragraph.pk3{
                margin-top: 2em;
            }
        }

        // Slide - Image.
        .slide-image{
            overflow: hidden;
            .img-container{
                width: 100%;
                margin-top: 2rem;
                float: left;
                img{
                    max-height: 400px;
                    object-fit: cover;
                }
            }
            .img-label{
                font-size: 1.2em;
                font-family: "Playfair Display", serif;
                font-style: italic;
                letter-spacing: 0.12em;
                background: #181818d4;
                color: #fff;
                padding: 0.8rem 1.6rem;
                margin-right: 8rem;
                box-shadow: 0.2rem 0.2rem 0.2rem 0.04rem $dark-gray;
                float: right;
                position: relative;
                bottom: 2rem;
            }
        }
        
        // General images
        .img-container{
            float: left;
            overflow: hidden;
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
}

section.where,
section.wines,
section.images,
section.others{
    h2[class*='-title']{
        width: 88%;
    }
}

section.about,
section.where{
    .description{
        position: inherit;
    }
    .about-bg,
    .where-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        img{
            height: 100%;
            top: 0;
        }
    }
}

section.about{
    .slide{
        .description,
        .img-container{
            float: left;
        }
        .description{
            .about-title{
                color: $white;
                font-size: 1.6em;
                font-weight: 600;
                display: block;
            }
        }
        .img-container{
            width: 44%;
            height: 16rem;
            margin-right: 2rem;
            float: right;
            box-shadow: .4rem .4rem .8rem 0 $dark-gray;
            img{
                width: 100%;
                float: right;
            }
        }
    }
}

section.others{
    .slide{
        .slide-other{
            .other-subtitle,
            .paragraph,
            .img-container,
            .info-ul{
                color: $white;
                float: left;
            }
            .other-subtitle,
            .paragraph{
                width: 50%;
            }
            .other-subtitle{
                padding: 2rem 0 1rem;;
            }
            .img-container{
                width: 50%;
                max-height: 350px;
                padding: 2rem;
                img{
                    width: 100%;
                }
            }
            .info-ul{
                margin-top: .8rem;
                .info-li{
                    color: $white;
                    margin-bottom: .4rem;
                    &:nth-child(-n+2){
                        margin-bottom: .8rem;
                        width: fit-content;
                    }
                }
            }
        }
    }
}

section.where{
}
section.wines{
}
section.images{
}

@media (max-width: 767px){
    section.section{
        padding: 1.5rem 1.75rem;
    }
    section.where,
    section.wines,
    section.images,
    section.others{
        .slide{
            .slide-where,
            .slide-image{
                padding: 0 2rem;
            }
            .slide-where{
                .img-container{
                    img{
                        width: 100%;
                    }
                }
            }
            .slide-wine{
                padding: 0 1rem;
                .img-container{
                    width: 100%;
                    height: auto;
                    img{
                        height: initial;
                        width: 100%;
                    }
                }
                .paragraph{
                    width: 60%;
                }
            }
            .slide-other{
                .other-subtitle,
                .paragraph{
                    width: 100%;
                }
                .other-subtitle{
                    padding: .8rem 1.2rem;
                }
                .paragraph{
                    padding: 0 1.2rem;
                }
                .img-container{
                    width: 100%;
                    max-height: 250px;
                    padding: 2rem 2rem;
                }
                .info-ul{
                    margin: 0.8rem 0 0 2rem;
                }
            }
        }
    }
    section.about{
        .slide{
            .img-container{
                width: 88%;
                height: 14rem;
            }
        }
    }
    
    section.images{
        .slide{
            .slide-image{
                .img-label{
                    margin-right: 8rem;
                    img{
                        box-shadow: .6rem .6rem 1.2rem 0 $dark-gray;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px){
    section.old{
        .input-yes,
        .input-no{
            .legal-label{
                top: 0;
            }
        }
        .legal{
            width: 100%;
            .legal-label{
                top: 0;
            }
        }
        .input-submit{
            width: 100%;
        }
    }
    section.where,
    section.wines,
    section.images,
    section.others{
        .slide{
            .slide-where,
            .slide-wine,
            .slide-image{
                .paragraph,
                .img-container{
                    bottom: 0;
                    float: left;
                }
                .paragraph{
                    width: 96%;
                    padding-right: 0;
                    padding-left: 0;
                }
                .img-container{
                    width: 100%;
                }
            }
            .slide-where,
            .slide-wine{
                .read-more-btn{
                    margin: 2em 0;
                }
            }
            .slide-where,
            .slide-image{
                .img-container{
                    img{
                        width: 100%;
                        height: initial;
                        float: left;
                    }
                }
            }
            .slide-where{
                padding: 0;
                .where-title,
                .where-subtitle{
                    width: 100%;
                }
                .where-subtitle{
                    padding-right: 0;
                    margin-bottom: .2em;
                }
                h3.where-subtitle{
                    font-size: 2em;
                }
                h4.where-subtitle{
                    font-size: 1.6em;
                }
                .map{
                    height: 30vh;
                    width: 100%;
                    bottom: 0;
                }
            }
            .slide-wine{
                .info-ul{
                    margin-top: 0;
                    padding-right: 0;
                }
                .img-container{
                    width: 36%;
                    margin-right: 0;
                }
                .paragraph{
                    margin: 0;
                    margin-left: 0;
                }
                .paragraph.garnacha,
                .paragraph.big,
                .paragraph.pk3{
                    width: 60%;
                    margin-top: 1.8rem;
                }
            }
            .slide-image{
                .img-label{
                    margin-right: 4rem;
                }
            }
            .slide-other{
                .img-container{
                    padding: 1rem 1.6rem 1rem 1.2rem;
                }
            }
        }
    }
    section.about{
        .slide{
            .img-container{
                height: 160px;
                margin-right: 1rem;
                img{
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 399px){
    section.old{
        .logo-container{
            .logo{
                width: 120px;
                left: calc(50% - 65px);
            }
        }
        .old-subtitle{
            font-size: .96em;
        }
    }
    section.where,
    section.wines,
    section.images{
        .slide{
            .slide-where{
                h3.where-subtitle{
                    font-size: 1.6em;
                }
                h4.where-subtitle{
                    font-size: 1.2em;
                }
            }
            .slide-wine{
                padding: 0 1.2em;
                .img-container{
                    margin: 1rem 1rem 0 0;
                }
                .info-ul{
                    width: 100%;
                    padding-left: 0;
                    margin-top: 0;
                    margin-bottom: 1.5rem;
                }
                .paragraph.garnacha,
                .paragraph.big,
                .paragraph.pk3{
                    width: 100%;
                    margin-top: 1rem;
                }
            }
            .slide-image{
                padding: 6.4rem 1.2rem;
                .img-label{
                    margin-right: 2rem;
                }
            }
        }
    }
}